.font-gilsans {
  font-family: "Gabarito", sans-serif;
}
.bg-darkblue{
    background-color: #113946;
}
.bg-darksand{
    background-color: #EAD7BB;
}
.bg-sand{
    background-color: #E3E1D9;
}
.bg-brown{
    background-color: #BCA37F;
}
.hr-sep {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border: dotted #BCA37F ;
    width: 10%;
}
.text-white{
    color: white;
    text-decoration: none;
}
.gradient-background {
    background: url(../assets/images/Background.jpg);
    background-repeat: no-repeat;
    animation: gradient-animation 4s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.background-transparent{
  opacity: 50%;
}
.border-black{
 text-shadow: 2px 2px 0 black;
}
.border-black-header{
  text-shadow: 4px 4px 0 black;
 }